body{
    background-color: #FFFAF0;
}

h1 {
    font-family: Verdana;
    color: #000000;
    font-size: 40pt;
    text-align: center;
    margin: 0;
}

.logo {
    border-radius: 15px;
    border: 3px solid #FFFFFF;
    height: 40px;
    width: 40px;
}

mark.red{
    color: #DC143C;
    background-color: #FFE4E1;
    font-size: 60pt;
}
h2 {
    font-family: Courier;
    color: #000000;
    background-color: #00FFFF;
    font-size: 30pt;
    text-align: center;
}
h3 {
    font-family: Courier;
    color: #000000;
    font-size: 25pt;
    text-align: center;
    line-height: 10px;
}
h4 {
    font-family: Courier;
    color: #000000;
    font-size: 20pt;
    text-align: center;
    line-height:10px;
}