body{
    background-color: #FFE4E1;
}
h1 {
    font-family: Georgia;
    color: #000000;
    font-size: 45pt;
    text-align: center;
    padding-bottom: 0.5em;
}
mark.red{
    color: #DC143C;
    background-color: #FFE4E1;
    font-size: 60pt;
}
h2 {
    font-family: Courier;
    color: #000000;
    background-color: #00FFFF;
    font-size: 30pt;
    text-align: center;
}
h3 {
    font-family: Courier;
    color: #000000;
    font-size: 25pt;
    text-align: center;
    line-height: 10px;
}
h4 {
    font-family: Courier;
    color: #000000;
    font-size: 20pt;
    text-align: center;
    line-height:10px;
}